# Arquivos de compilação e build
/target/
/bin/
/build/
*.class

# Dependências baixadas
/dependencies/
/lib/

# Arquivos gerados pelo Gradle
.gradle/
build/
!gradle-wrapper.jar

# Arquivos do Maven
target/
*.jar
*.war
*.ear
*.par

# Arquivos de log
*.log
logs/

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini